@import '../../commonFiles/style/variables';
.world-stats {
    background-color: $blue;
    border-radius: 30px 30px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: hidden;
    color: $white;
    width: 100%;
    justify-content: center;
}

.total {
    display: flex;
    background-color: $blue;
    justify-content: space-between;
    color: $white;
    margin-top: 15px;
    border-radius: 5px;
    max-width: 400px;
    padding: 10px;
    width: 100%;
    &-type {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            display: block;
        }
        &__stats {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

path {
    outline: none;
}

@media (min-width:769px) {
    .total-type {
        font-size: 18px;
    }
    .total-stats {
        font-size: 20px;
    }
}

@media (max-width:600px) {
    .map {
        height: calc(60vh - 185px);
        width: 100%;
    }
    .world-stats {
        height: 39.3vh;
        img {
            height: 20vh;
        }
    }
}

@media (min-width:601px) {
    .map {
        height: calc(75vh - 185px);
        width: 100%;
    }
    .world-stats {
        height: 24.3vh;
        img {
            height: 14vh;
        }
    }
}

// body {
//     position: relative; // that's it
//     overflow: hidden;
// }