* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

button,
button:focus,
button:active {
    font-family: inherit;
    outline: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border: 1px solid #F40555;
    border-radius: 5px;
}

.flag-select {
    padding-bottom: 0 !important;
}

span.flag-select__option {
    max-width: 150px !important;
    overflow: hidden;
}

.apexcharts-toolbar {
    top: 10px !important;
}

@media (min-width: 767px) {
    span.flag-select__option {
        max-width: 350px !important;
        overflow: hidden;
    }
}