@import '../../../commonFiles/style/variables';
.country-item {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    font-size: 12px;
    background-color: #F0F1F3;
    padding: 8px 12px;
    margin-top: 8px;
    border-radius: 5px;
    align-items: center;
    height: 48px;
}

//Country
.country-name {
    color: $black;
    font-weight: 600;
    display: flex;
    align-items: center;
    & img {
        margin-right: 5px;
    }
}

.country-stats {
    text-align: center;
    color: $grey;
}

.cases {
    display: block;
    font-weight: 600;
}

.new_deaths {
    color: $red;
}

.new_recovered {
    color: $green
}

.new_confirmed {
    color: $blue;
}

@media (min-width:769px) {
    .country-item {
        font-size: 16px;
        height: 60px;
    }
}